
body{
  
  background: rgba(232, 238, 191, 0.408);
       
}


h1{
    margin-left: 11%;
}

h3{
    float:right;
    margin-right:1000px ;
}

h2{
    float:right;
    margin-right:920px ;
    margin-top: -25%;
}

#powerstats-list{  
    margin-left: 31%;
    margin-top: -22%;
}

#random-button{
    margin-left: 30%;
    margin-top: 8%;
    background-color: #4CAF50; /* cor de fundo */
    border: none; /* sem borda */
    color: white; /* cor do texto */
    padding: 15px 32px; /* espaço interno */
    text-align: center; /* centralizar texto */
    text-decoration: none; /* sem sublinhado */
    display: inline-block; /* exibir como um bloco */
    font-size: 16px; /* tamanho da fonte */
    cursor: pointer; /* cursor ao passar o mouse */
    border-radius: 8px; /* borda arredondada */
  }
    


#hero-image{
   width:300px ;
   height:500px ;
   margin-left: 10%;
    
}















